<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<!-- Flash messages -->
<%- messages() %>

<!-- Errors (if any) -->
<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<% if (account_firstname) { %>
  <h2 class="welcome">Welcome <%= account_firstname %>!</h2>
<% } %>

<p class="login-status">You’re logged in.</p>

