<%# Content heading %>
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%# Message Section - Code commented out until we decide to use it %>
<%# messages() %>

<%# Inventory Items %>
<%- grid %>